.image {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-size: contain;
  margin: 10px;
}

#loading {
  display: inline;
  margin: 20px;
}

#button-container {
  width: 65px;
}

#button-container > button {
  width: 32px;
}
